/*
--- 01 TYPOGRAPHY SYSTEM 

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights:
Default: 1 
Small: 1.05 
Medium: 1.2
Photograph default: 1.6

--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9 #fae5d3
- Shades: #cf711f
- Accents:
- Greys: #555 #333

--- 03 IMAGES

Major Copyright free images from Unsplash.com
Custormer headshots from UIFaces.co

--- 04 SHADOWS

--- 05 BORDER-RADIUS
Default: 9px

--- 06 WHITESPACE

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  /* To return the fontsize back to 16px */
  /* font-size: 1.6rem; */

  font-family: "Clash Display", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #150e28;
}

/* Header Section Styles */

.logo {
  color: #fff;
  font-family: Clash Display;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.color {
  color: #d434fe;
}

/* Header Navigation Styles */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 12.8rem;

  margin-top: 6rem;
  padding-bottom: 2.5rem;

  border-bottom: 1px solid rgba(255, 255, 255, 18%);

  /* background-color: red; */
}

.main-nav-list {
  color: #fff;
  display: flex;
  list-style: none;
  gap: 5.6rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: all 0.3s;

  font-family: Montserrat;
  font-size: 1.6rem;
  line-height: 1;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d434fe;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.6rem 5.2rem 1.7rem 5.2rem;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  margin-left: 12rem;
}

/* .main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #903aff;
} */

/* Hero Section Styling */

.heading-primary {
  color: #fff;
  font-family: Clash Display;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
